In [1]:
import csv
from statistics import mean 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import pearsonr
from sklearn.metrics import r2_score
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from scipy.stats import spearmanr, pearsonr
from sklearn.ensemble import RandomForestRegressor

In [2]:
lc2 = pd.read_csv("C:\\Users\spand\\Downloads\\LC2_18Jan.csv")

C:\Users\spand\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
lc2

,created_at,PM10_2,PM2.5_2,RH_2,Temp_2,CO_2,NO2_2,NH3_2
0,2020-10-09 11:52:30 IST,57.1,51.5,75.02,27.98,1.28,0.32,0.11
1,2020-10-09 11:53:00 IST,57.5,51.6,74.86,27.99,1.23,0.33,0.11
2,2020-10-09 11:53:30 IST,59.2,53.2,74.89,27.98,1.17,0.35,0.1
3,2020-10-09 11:54:00 IST,57.5,51.8,74.86,27.96,1.17,0.36,0.09
4,2020-10-09 11:54:30 IST,58.3,52.6,74.86,27.94,1.11,0.37,0.09
...,...,...,...,...,...,...,...,...
269859,2021-01-18 18:57:30 IST,39.7,36.3,44.32,30.05,0.48,4.87,0.01
269860,2021-01-18 18:58:00 IST,39.0,35.8,44.35,30.04,0.48,4.87,0.01
269861,2021-01-18 18:58:30 IST,40.1,36.7,44.35,30.03,0.48,4.87,0.01
269862,2021-01-18 18:59:00 IST,39.4,36.2,44.35,30.04,0.48,4.83,0.02
269863,2021-01-18 18:59:30 IST,38.6,35.4,44.42,30.04,0.48,4.87,0.02

In [4]:
lc3 = pd.read_csv("C:\\Users\spand\\Downloads\\LC3_18Jan.csv")

C:\Users\spand\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
lc3

,created_at,PM10_3,PM2.5_3,RH_3,Temp_3,CO_3,NO2_3,NH3_3
0,2020-09-17 19:15:30 IST,19.1,15.1,83.26,27.72,0.48,0.20,2.2
1,2020-09-17 19:16:00 IST,19.0,15.2,83.26,27.74,0.44,0.22,1.96
2,2020-09-17 19:16:30 IST,18.6,15.0,83.35,27.72,0.44,0.24,1.7
3,2020-09-17 19:17:00 IST,18.8,15.8,83.32,27.71,0.44,0.26,1.5
4,2020-09-17 19:17:30 IST,19.3,15.9,83.38,27.71,0.44,0.28,1.36
...,...,...,...,...,...,...,...,...
310693,2021-01-18 18:58:00 IST,77.6,58.8,49.92,27.59,0.53,5.33,0.01
310694,2021-01-18 18:58:30 IST,80.8,60.0,49.95,27.59,0.53,5.28,0.01
310695,2021-01-18 18:59:00 IST,82.7,61.2,49.95,27.58,0.53,5.28,0.01
310696,2021-01-18 18:59:30 IST,79.7,59.8,50.02,27.60,0.53,5.28,0.01
310697,2021-01-18 19:00:00 IST,80.0,59.7,50.08,27.59,0.58,5.24,0.01

In [6]:
lc2['created_at'] = pd.to_datetime(lc2['created_at'])
lc3['created_at'] = pd.to_datetime(lc3['created_at'])

C:\Users\spand\Anaconda3\lib\site-packages\dateutil\parser\_parser.py:1213: UnknownTimezoneWarning: tzname IST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  warnings.warn("tzname {tzname} identified but not understood.  "

In [8]:
LC2 = pd.DataFrame(columns = ['created_at', 'PM10_2', 'PM2.5_2', 'RH_2', 'Temperature_2', 'CO_2', 'NO2_2', 'NH3_2'])
LC3 = pd.DataFrame(columns = ['created_at', 'PM10_3', 'PM2.5_3', 'RH_3', 'Temperature_3', 'CO_3', 'NO2_3', 'NH3_3' ])

In [10]:
pm10 = []
pm25 = []
rh = []
temp = []
co = []
no2 = []
nh3 = []
for i in range(len(lc2)):
    if(len(pm10) == 0):
        time = lc2['created_at'][i]
        pm10.append(lc2['PM10_2'][i])
        pm25.append(lc2['PM2.5_2'][i])
        rh.append(lc2['RH_2'][i])
        temp.append(lc2['Temp_2'][i])
        co.append(lc2['CO_2'])
        no2.append(lc2['NO2_2'])
        nh3.append(lc2['NH3_2'])

    else:

        prev = time - pd.to_timedelta(time.time().minute % 15, unit='m') - pd.to_timedelta(time.time().second, unit='s')
        current_time = lc2['created_at'][i] 
        convert_time = current_time - pd.to_timedelta(current_time.time().minute % 15, unit = 'm') - pd.to_timedelta(current_time.time().second, unit='s')

        if(prev == convert_time):
            time = lc2['created_at'][i]
            pm10.append(lc2['PM10_2'][i])
            pm25.append(lc2['PM2.5_2'][i])
            rh.append(lc2['RH_2'][i])
            temp.append(lc2['Temp_2'][i])
            co.append(lc2['CO_2'])
            no2.append(lc2['NO2_2'])
            nh3.append(lc2['NH3_2'])
    

        else:

            avg_pm10 = round(mean(pm10), 2)
            avg_pm25 = round(mean(pm25), 2)
            avg_rh = round(mean(rh), 2)
            avg_temp = round(mean(temp), 2)
            avg_co = mean(co)
            avg_no2 = mean(no2)
            avg_nh3 = mean(nh3)

            time = time - pd.to_timedelta(time.time().minute % 1,unit='m') - pd.to_timedelta(time.time().second, unit='s')
            data = {'created_at': time, 'PM10_2' : avg_pm10, 'PM2.5_2': avg_pm25, 'RH_2': avg_rh, 'Temperature_2': avg_temp, 'CO_2': avg_co, 'NO2_2': avg_no2, 'NH3_2': avg_nh3}

            LC2 = LC2.append(data, ignore_index=True)

            pm10.clear()
            pm25.clear()
            rh.clear()
            temp.clear()
            co.clear()
            no2.clear()
            nh3.clear()
            
    
            pm10.append(lc2['PM10_2'][i])
            pm25.append(lc2['PM2.5_2'][i])
            rh.append(lc2['RH_2'][i])
            temp.append(lc2['Temp_2'][i])
            co.append(lc2['CO_2'][i])
            no2.append(lc2['NO2_2'][i])
            nh3.append(lc2['NH3_2'][i])
            
    

            time = lc2['created_at'][i]

TypeError: can't convert type 'Series' to numerator/denominator